@import "tailwindcss";

/*font*/

@font-face {
  font-family: "LaundryGothicBold";
  src: url("/font/LaundryGothicBold.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "LaundryGothicRegular";
  src: url("/font/LaundryGothicRegular.woff") format("woff");
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  min-height: 720px;
  background: var(--background);
  color: var(--foreground);
  font-family: "LaundryGothicRegular";
  background-color: #fffefa;
}

main {
  max-width: 1200px;
  margin: 10px auto;
  padding: 0 3%;
}

a,
button {
  display: inline-block;
  cursor: pointer;
}

/*  */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.hover\:animate-scroll:hover {
  animation: scroll 5s linear infinite;
}